.form_container {
	width: 320px;
	margin: 100px auto;
}
.contacts {
	padding: 30px 0;
	text-align: center;
	background: $white;
	border: 1px solid $green_03;
	position: relative;

	@include clearfix;
}
.contacts_fieldset {
	border: 0;
}
.contacts_title {
	position: absolute;
	top: -5px;
	left: 30px;
	background: $green_01;
	color: $white;
	font-size: 12px;
	text-transform: uppercase;
	padding: 8px 10px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: -6px;
		border-top: 3px solid transparent;
		border-right: 3px solid $green_01;
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
	}
}
.contacts_input {
	width: 100%;
	max-width: 260px;
	line-height: 40px;
	padding: 0 15px;
	color: $black;
	font-size: 12px;
	margin-bottom: 15px;
	outline: 0;
	border: 1px solid $green_03;
	background: url("../img/bg.jpg");
}
.contacts_input::-webkit-input-placeholder {
	background: transparent;
	color: $black;
	font-style: italic;
}
.contacts_submit {
	text-transform: uppercase;
	color: $white;
	padding: 15px 82px;
	margin-top: 25px;
	background: linear-gradient(to bottom, $green_01, $green_02);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
	font-weight: bold;
	font-size: 12px;
	outline: 0;
	border-radius: 4px;
	border: 1px solid transparent;
	cursor: pointer;

	@include transition;

	&:hover {
		background: $white;
		border: 1px solid $green_03;
		color: $green_02;

		@include transition;
	}
}
.contacts_label {
	display: block;
	text-align: left;
	padding: 10px 30px;

	&_symbol {
		color: $green_01;
	}
}
.error {
	color: red;
	border: 1px solid red;
}
#name-error {
	position: absolute;
	font-size: 13px;
	top: 10%;
	left: 42%;
	border: 1px solid transparent;
}
#email-error {
	position: absolute;
	font-size: 13px;
	top: 27%;
	left: 33%;
	border: 1px solid transparent;
}
#password-error {
	position: absolute;
	font-size: 13px;
	top: 45%;
	left: 42%;
	border: 1px solid transparent;
}
#phone-error {
	position: absolute;
	font-size: 13px;
	top: 64%;
	left: 41%;
	border: 1px solid transparent;
}
// overlay window

.overlay_win {
	display: none;
}
.overlay {
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	opacity: .5;
}
.message {
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	overflow: hidden;
	z-index: 2000;
	width: 500px;
	padding: 60px;
	text-align: center;
	margin-left: -250px;

	&_done {
		position: relative;
		display: block;
		color: $white;
		margin: 40px auto 0;
		padding: 10px 30px;
		cursor: pointer;
		background: linear-gradient(to bottom, $green_01, $green_02);
		border-radius: 4px;
		border: 1px solid transparent;
		outline: 0;

		@include transition();

		&:hover {
			background: $white;
			border: 1px solid $green_03;
			color: $green_02;

			@include transition();
		}

		@include icon(done);

		&:before {
			position: absolute;
			top: 10px;
			left: 65px;
		}
	}
}